<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Rectangles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script th:src="@{/js/draw_rectangle.js} "></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
    </nav>
    <div id="rectangle-info" th:switch="${rectangle}" class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2 th:case="null ">No rectangle yet!</h2>
                <div th:case="*">
                    <h2 class="mb-5">Rectangle Detail</h2>
                    <canvas id="draw-rectangle" th:attr="width=${rectangle.getWidth()},height=${rectangle.getHeight()}" style="border:1px solid #d3d3d3;">
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                                var width = /*[[${rectangle.getWidth()}]]*/ '';
                                var height = /*[[${rectangle.getHeight()}]]*/ '';
                                var color = /*[[${rectangle.getColor()}]]*/ '';
                                draw(width, height, color);
                             /*]]>*/
                      </script> 
                    </canvas>

                    <table class="table table-striped table-responsive-md">
                        <tbody>
                            <tr>
                                <td>Id</td>
                                <td th:text="${rectangle.id}"></td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td th:text="${rectangle.name}"></td>
                            </tr>
                            <tr>
                                <td>Width</td>
                                <td id="rectangle-width" th:text="${rectangle.width}"></td>
                            </tr>
                            <tr>
                                <td>Height</td>
                                <td id="rectangle-height" th:text="${rectangle.height}"></td>
                            </tr>
                            <tr>
                                <td>Color</td>
                                <td id="rectangle-color" th:text="${rectangle.color}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-5">
                <a th:href="@{/editrectangle/{id}(id=${rectangle.id})}" class="btn btn-primary" role="button" aria-pressed="true">Edit</a>
                <a th:href="@{/delete/{id}(id=${rectangle.id})}" class="btn btn-primary" role="button" aria-pressed="true">Delete</a>
            </div>
        </div>
    </div>
</body>

</html>