<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Rectangles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
    </nav>
    <div th:switch="${rectangle_list}" class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2 th:case="null">No rectangles yet!</h2>
                <div th:case="*">
                    <h2 class="mb-5">Rectangle list</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Color</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="rectangle : ${rectangle_list}">
                                <td th:text="${rectangle.id}"></td>

                                <td>
                                    <a th:href="@{/{id}(id=${rectangle.id})}" th:text="${rectangle.name}"></a>
                                </td>

                                <td th:text="${rectangle.color}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <a href="/addrectangle" class="btn btn-primary" role="button" aria-pressed="true">New Rectangle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>